/* 404 Style */

.wrap-error {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  background-color: #25a29f !important;
  padding: 3rem 0rem 7rem 0rem;
  height: 100vh !important;
}

.center {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 50%; 
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  margin: auto;
}

.title {
  color: #E6E9EA;
  text-align: center;
}
.sub-heading {
  font-size: 1.5rem;
  text-align: center;
  color: #FFFB81;
  margin: 10px 0;
}
hr.hr-style-404 {
  border: 0;
  height: 1px;
  width: 150px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.65), rgba(0, 0, 0, 0));
}
.redirect-style-404 {
  color: #ffffff;
}
