$color-dietafarma: #25a29f;

.home-header {
  position: fixed;
  top: 0px;
  background-color: $color-dietafarma;
  padding: 10px 0 10px 0;
  margin: 0 auto;
  width: 100%;
  h1 {
    color: white;
    text-align: center;
    margin-top: 18px;
  }
}

.main-content {
  margin-top: 100px;
}

.breadcrumb {
  background-color: #eaeaea;
  font-family: 'Raleway', sans-serif;
}

.side-title {
  width: 230px;
  float: left;
  background: #373a47;
  border-radius: 0;
  height: 57px;
  font-weight: 400;
  font-size: 22px;
  color: #ECF0F1!important;
  margin-left: 0!important;
  width: 100%;
  line-height: 59px;
  display: block;
  height: 55px;
  margin: 0;
  padding-left: 10px;
}

.side-menu ul li {
  line-height: 32px;
  &.divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
  }
  &.header {
    padding-left: 15px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.side-menu-toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  span.toggle-bars {
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    background-color: white;
    position: relative;
    transition: all 0.3s ease-in-out;
    &:after {
      content: "";
      display: block;
      height: 5px;
      width: 100%;
      background-color: white;
      position: relative;
      transition: all 0.3s ease-in-out;
    }
    &:before {
      content: "";
      display: block;
      height: 5px;
      width: 100%;
      background-color: white;
      position: relative;
      transition: all 0.3s ease-in-out;
      top: -15px;
    }
    &:after {
      top: 10px;
    }
  }
}

.content-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  will-change: opacity;
}

.side-button {
  width: 5em;
  height: 2.5em;
  line-height: 2.5em;
  background: #fffce1;
  font-size: 0.8em;
  &.left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  &.active {
    background: #c94e50;
    color: #fffce1;
  }
}

.side-menu-toggle {
  position: fixed;
  width: 36px;
  height: 36px;
  top: 24px;
  &.left {
    left: 36px;
  }
  &.right {
    right: 36px;
  }
}

.side-menu {
  background: #373a47;
  padding: 20px;
  nav {
    height: 100%;
  }
  li {
    color: #fff;
    &:focus, &:hover {
      color: $color-dietafarma;
    }
  }
}

.sm-item-list ul {
  padding-left: 0;
  margin-top: 10px;
}

.sm-item-list li {
  padding: .8em;
  display: block;
  outline: 0;
  span {
    margin-left: 10px;
    font-weight: 700;
  }
}

.sm-item-list .badge {
    font-size: 10px;
    font-weight: 400;
    line-height: 13px;
    padding: 2px 6px;
    position: relative;
    right: 2px;
    top: -2px;
}

.bg-green {
    background: $color-dietafarma;
    border: $color-dietafarma;
    color: #fff;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}

.side-menu-profile-pic {
  width: 35%;
  float: left;
}

.side-menu-profile-info {
  padding: 0px 10px 10px 40px;
  width: 65%;
  float: left;
  h3 {
    color: white;
    font-family: 'Raleway', sans-serif;
  }
  &.profile {
    color: white;
  }
}

.img-circle.profile-img {
  width: 100px;
  margin: 10px auto;
  background: #fff;
  position: inherit;
  border: 1px solid rgba(52, 73, 94, 0.44);
  padding: 4px;
}

.caption {
  h3 {
    text-align: center;
  }
}

.footer {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 24px;
  background-color: black;
}

#slide {
  .bm-cross {
    background: #bdc3c7;
  }
  .bm-menu {
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
}

.left_col {
  background: #2A3F54;
}

.border-blue {
  border-color: #3498DB !important;
}

.border-purple {
  border-color: #9B59B6 !important;
}

.border-green {
  border-color: #1ABB9C !important;
}

.border-aero {
  border-color: #9CC2CB !important;
}

.border-red {
  border-color: #E74C3C !important;
}

.border-dark {
  border-color: #34495E !important;
}

.bg-white {
  background: #fff !important;
  border: 1px solid #fff !important;
  color: #73879C;
}

.bg-green {
  background: #1ABB9C !important;
  border: 1px solid #1ABB9C !important;
  color: #fff;
}

.bg-red {
  background: #E74C3C !important;
  border: 1px solid #E74C3C !important;
  color: #fff;
}

.bg-blue {
  background: #3498DB !important;
  border: 1px solid #3498DB !important;
  color: #fff;
}

.bg-orange {
  background: #F39C12 !important;
  border: 1px solid #F39C12 !important;
  color: #fff;
}

.bg-purple {
  background: #9B59B6 !important;
  border: 1px solid #9B59B6 !important;
  color: #fff;
}

.bg-blue-sky {
  background: #50C1CF !important;
  border: 1px solid #50C1CF !important;
  color: #fff;
}

.btn-df {
  color: #fff;
  background-color: $color-dietafarma;
  border-color: #2e6da4;
}

.panel-df {
  border-color: $color-dietafarma;
}

.panel-df > .panel-heading {
    color: #fff;
    background-color: $color-dietafarma;
    border-color: $color-dietafarma;
}

.table {
  font-size: 14px;
}

.dieta-farma-calendar-small {
  @include ember-power-calendar($cell-size: 30px);
}
.dieta-farma-calendar-medium {
  @include ember-power-calendar($cell-size: 45px);
}
.dieta-farma-calendar-big {
  @include ember-power-calendar($cell-size: 70px);
}
