$color-dietafarma: #25a29f;

.home-header {
  z-index: 9999;
  position: fixed;
  top: 0px;
  background-color: $color-dietafarma;
  padding: 10px 0 10px 0;
  margin: 0 auto;
  width: 100%;
  h1 {
    color: white;
    text-align: center;
    margin-top: 18px;
  }
}

.main-content {
  margin-top: 100px;
}

.breadcrumb {
  background-color: #eaeaea;
  font-family: 'Open Sans', sans-serif;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.side-title {
  float: left;
  margin-left: 15px;
  background: #373a47;
  border-radius: 0;
  height: 57px;
  font-weight: 400;
  font-size: 18px;
  color: #ECF0F1!important;
  width: 100%;
  line-height: 59px;
  display: block;
  height: 55px;
  padding-left: 10px;
  img {
    height: 40px;
  }
}

.side-menu ul li {
  line-height: 32px;
  &.divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
  }
  &.header {
    padding-left: 15px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.side-menu-toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  span.toggle-bars {
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    background-color: white;
    position: relative;
    transition: all 0.3s ease-in-out;
    &:after {
      content: "";
      display: block;
      height: 5px;
      width: 100%;
      background-color: white;
      position: relative;
      transition: all 0.3s ease-in-out;
    }
    &:before {
      content: "";
      display: block;
      height: 5px;
      width: 100%;
      background-color: white;
      position: relative;
      transition: all 0.3s ease-in-out;
      top: -15px;
    }
    &:after {
      top: 10px;
    }
  }
}

.content-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  will-change: opacity;
}

.side-button {
  width: 5em;
  height: 2.5em;
  line-height: 2.5em;
  background: #fffce1;
  font-size: 0.8em;
  &.left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  &.active {
    background: #c94e50;
    color: #fffce1;
  }
}

.side-menu-toggle {
  position: fixed;
  width: 36px;
  height: 36px;
  top: 24px;
  &.left {
    left: 36px;
  }
  &.right {
    right: 36px;
  }
}

.side-menu {
  background: #373a47;
  padding: 20px;
  nav {
    height: 100%;
  }
  li {
    color: #fff;
    &:focus, &:hover {
      color: $color-dietafarma;
    }
  }
}

.side-menu-item-list ul {
  padding-left: 0;
  margin-top: 10px;
}

.side-menu-item-list li {
  padding: .8em;
  display: block;
  outline: 0;
  span {
    margin-left: 10px;
    font-weight: 700;
  }
}

.side-menu-item-list .badge {
    font-size: 10px;
    font-weight: 400;
    line-height: 13px;
    padding: 2px 6px;
    position: relative;
    right: 2px;
    top: -2px;
}

.bg-green {
    background: $color-dietafarma;
    border: $color-dietafarma;
    color: #fff;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}

.side-menu-profile-pic {
  width: 35%;
  float: left;
  .profile-img {
    width: 70px;
    margin: 20px auto;
    background: #fff;
    border: 1px solid rgba(52, 73, 94, 0.44);
    position: inherit;
    border-radius: 50%;
    padding: 4px;
  }
}

.side-menu-profile-info {
  padding: 10px;
  width: 65%;
  float: left;
  h3 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
  }
  &.profile {
    color: white;
  }
}

.profile-thumbnail {
  .profile-img {
    width: 100px;
    margin: 10px auto;
    background: #eaeaea;
    position: inherit;
    border-radius: 50%;
    padding: 4px;
  }

  .badge {
      top: -15px;
      position: relative;
      display: inline-block;
      min-width: 10px;
      padding: 3px 5px;
      font-size: 12px;
      font-weight: 700;
      line-height: 1;
      color: #fff;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      background-color: #777;
      border-radius: 10px;
  }
}

#modal-edit-avatar {
  .cr-image {
    position: initial;
  }
}

.caption {
  h3 {
    text-align: center;
  }
}

.client.profile-thumbnail {
  height: 250px;
  background: #eaeaea;
  padding: 5px;
  .profile-img {
    background: #fff;
  }
}

.floating-button {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	background-color: $color-dietafarma;
	color: #FFF;
	border-radius: 50px;
	text-align: center;
	box-shadow: 2px 2px 3px #999;
}

div.media{
  margin: 15px;
}

.media.inbox {
  background-color: #eaeaea;
  padding: 10px;
  .media-body {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
  }
  .media-left img {
    width: 3.5em;
  }
}

.my-floating-button {
	margin-top: 14px;
}

ul.chat {
  list-style: none;
  margin: 0;
  padding: 0;
  color: black;
  overflow-y: scroll;
  max-height: 420px;
}

.chat li {
  margin-bottom: 10px;
  padding: 10px;
  &.left { 
    background-color: #c1d6ff;
  }
  &.right { 
    background-color: #c9efee;
  }
}

.chat li.left .chat-body {
  margin-left: 60px;
}

.chat li.right .chat-body {
  margin-right: 60px;
}

.chat li .chat-body p {
  margin: 0;
  color:black;
  font-size: 14px;
  overflow-wrap: break-word;
}

.chat-img img {
  width: 3.5em;
}

.reply-message {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  textarea {
    resize: none;
  }
}

.modal-body textarea {
  width: 90%;
  color: black;
  resize: none;
}

.footer {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 24px;
  background-color: black;
}

.border-blue {
  border-color: #3498DB !important;
}

.border-purple {
  border-color: #9B59B6 !important;
}

.border-green {
  border-color: #1ABB9C !important;
}

.border-aero {
  border-color: #9CC2CB !important;
}

.border-red {
  border-color: #E74C3C !important;
}

.border-dark {
  border-color: #34495E !important;
}

.bg-white {
  background: #fff !important;
  border: 1px solid #fff !important;
  color: #73879C;
}

.bg-green {
  background: #1ABB9C !important;
  border: 1px solid #1ABB9C !important;
  color: #fff;
}

.bg-red {
  background: #E74C3C !important;
  border: 1px solid #E74C3C !important;
  color: #fff;
}

.bg-blue {
  background: #3498DB !important;
  border: 1px solid #3498DB !important;
  color: #fff;
}

.bg-orange {
  background: #F39C12 !important;
  border: 1px solid #F39C12 !important;
  color: #fff;
}

.bg-purple {
  background: #9B59B6 !important;
  border: 1px solid #9B59B6 !important;
  color: #fff;
}

.bg-blue-sky {
  background: #50C1CF !important;
  border: 1px solid #50C1CF !important;
  color: #fff;
}

.btn-df {
  color: #fff;
  background-color: $color-dietafarma;
  border-color: $color-dietafarma;
}

.panel-df {
  border-color: $color-dietafarma;
}

.panel-df > .panel-heading {
    color: #fff;
    background-color: $color-dietafarma;
    border-color: $color-dietafarma;
}

.table {
  font-size: 14px;
}

.dieta-farma-calendar-small {
  @include ember-power-calendar($cell-size: 30px);
  margin: auto;
}
.dieta-farma-calendar-medium {
  @include ember-power-calendar($cell-size: 45px);
  margin: auto;
  .ember-power-calendar-day--today {
    background-color: #96d5ff;
  }
  .ember-power-calendar-day--focused {
    box-shadow: inset 0px -2px 0px 0px $color-dietafarma;
  }
  .ember-power-calendar-day:not([disabled]):hover {
    background-color: $color-dietafarma;
  }
}

.dieta-farma-calendar-big {
  @include ember-power-calendar($cell-size: 70px);
  margin: auto;
}

.datepicker table tr td.today {
	color: #000;
	background-color: #3498DB;
  border-color: #3498DB;
  background-image: none;
  background-repeat: none;
}

.datepicker table tr td.active {
  color: #000;
	background-color: $color-dietafarma;
  border-color: $color-dietafarma;
  background-image: none;
  background-repeat: none;
}

.datepicker table tr td.active.active {
  color: #000;
	background-color: $color-dietafarma;
	border-color: $color-dietafarma;
}

.file-picker__dropzone {
  background-color: white;
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 2em;
  text-align: center;
  height: 6em;
  border-width: 2px;
  margin-bottom: 20px;
}
