$color-dietafarma: #25a29f;

.premium-banner {
  background: url(../assets/images/backgrounds/premium.jpg) no-repeat fixed center;
  background-size: cover;
  min-height: 360px;
  position: relative;

  .premium-banner-info {
    padding-top: 20px;
    color: #fff;
    p {
      margin: 0 5px 10px 5px;
    }
  }

  &.schedule,  &.checkout {
    min-height: 500px;
  }

  .overlay-color {
    background-color: rgba(13, 70, 83, 0.78);
    min-height: 360px;
    &.schedule, &.checkout {
      min-height: 100vh;
    }
  }

  .full-overlay-color {
    background-color: rgba(13, 70, 83, 0.78);
    min-height: 100vh;
  }
}

.message-info {
  padding: 10px;
  margin: 150px 10px 0 10px;
  height: 240px;
  background-color: white;

  .ok {
    color: #6ea2a2;
  }
  .error {
    color: #de615e;
  }

  .btn {
    margin-top: 24px;
    a {
      color: white;
    }
  }
}

.premium-packs {
  .thumbnail {
    margin: 10px;
    padding: 20px;
    height: 240px;
    background-color: #6ea2a2;
    border: none;

    h3 {
      color: white;
      text-align: center;
      font-size: 18px;
    }

    .image {
      height: 100px;
      opacity: 1;
      transition: .5s ease;
      backface-visibility: hidden;
    }

    .price {
      color: white;
      text-align: center;
      font-size: 24px;
    }

    .caption-link {
      cursor: pointer;
      color: white;
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
    }

    &:hover .image {
      opacity: 0.3;
    }

    &:hover .caption-link {
      opacity: 1;
    }
  }
}

.premium-services-steps {
  overflow: hidden;
  position: relative;
  margin-top: 20px;
}

.premium-services-progress {
  position: absolute;
  top: 24px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #ddd;
}

.premium-services-progress-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  background: $color-dietafarma;
}

.premium-services-step {
  position: relative;
  float: left;
  width: 25%;
  padding: 0 5px;
  font-size: 12px;
  font-weight: 300;
  color: #888;
  line-height: 18px;
  text-align: center;
}

.premium-services-step-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-top: 4px;
  background: #ddd;
  font-size: 16px;
  color: #fff;
  line-height: 40px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.premium-services-step {
  &.completed .premium-services-step-icon {
    background: #fff;
    border: 1px solid $color-dietafarma;
    color: $color-dietafarma;
    line-height: 38px;
  }

  &.active .premium-services-step-icon {
    width: 48px;
    height: 48px;
    margin-top: 0;
    background: $color-dietafarma;
    font-size: 22px;
    line-height: 48px;
  }

  p {
    color: #ccc;
  }

  &.completed p, &.active p {
    color: $color-dietafarma;
  }
}

.empty {
  height: 50px;
  background: transparent;
}

.stripe * {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 400;
  color: grey;
}

.stripe {
  fieldset {
    min-height: 360px;
    &.payment-result {
      color: white;

      div {
        &.form-row {
          margin-top: 60px;
        }

        &.error {
          path {
            color: #de615e;
          }
        }

        &.success {
          path {
            color: $color-dietafarma;
          }
        }
      }
    }
    p.info {
      font-size: 14px;
      color: white;
      margin-top: 20px;
    }
  }
}

.stripe label {
  width: 100%;
  color: white;
  font-size: 14px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ember-stripe-element {
  display: block;
  width: 100%;
  height: 40px;
  padding: 10px 12px;
  line-height: 1em;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.checkout-error {
  font-size: 12px;
  font-weight: 400;
  color: #E25950;
  margin-top: 30px;
  svg {
    font-size: 1em;
    path {
      color: #E25950;
    }
  }
}

.pay-buttons {
  margin-top: 30px;
}

.premium-form {
  .ember-power-select-selected-item {
    color: #888;
  }
  h4, h5 {
    color: $color-dietafarma;
  }
  h6 {
    color: #fff;
  }
  a, a:hover, a:focus {
    color: $color-dietafarma;
    text-decoration: underline;
  }
  fieldset {
    font-size: 12px;
    font-weight: 300;
    color: #fff;
    line-height: 18px;
    text-align: center;
    border: 1px solid #fff;
    padding: 15px;
    border-radius: 6px;
  
    legend {
      margin: 0 auto;
      padding: 0 10px;
      text-align: center;
      font-size: 14px;
      font-weight: 500;
      color: #fff;
      background-color: transparent;
      width: auto;
      border-bottom: none;
    }
  }
  textarea {
    height: 44px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #ddd;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 44px;
    color: #888;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
    &.form-control {
      height: 44px;
      margin: 0;
      padding: 0 20px;
      vertical-align: middle;
      background: #fff;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: 300;
      line-height: 44px;
      color: #888;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      -o-transition: all .3s;
      -moz-transition: all .3s;
      -webkit-transition: all .3s;
      -ms-transition: all .3s;
      transition: all .3s;
      height: 60px;
      padding-top: 8px;
      padding-bottom: 8px;
      line-height: 30px;
    }
    height: 60px;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 30px;
  }
  
  input {
    &[type="text"]:focus, &[type="email"]:focus, &[type="password"]:focus {
      outline: 0;
      background: #fff;
      border: 1px solid #ccc;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
  
  textarea {
    &:focus, &.form-control:focus {
      outline: 0;
      background: #fff;
      border: 1px solid #ccc;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
  
  input {
    &[type="text"]:-moz-placeholder, &[type="email"]:-moz-placeholder, &[type="password"]:-moz-placeholder {
      color: #888;
    }
  }
  
  textarea {
    &:-moz-placeholder, &.form-control:-moz-placeholder {
      color: #888;
    }
  }
  
  input {
    &[type="text"]:-ms-input-placeholder, &[type="email"]:-ms-input-placeholder, &[type="password"]:-ms-input-placeholder {
      color: #888;
    }
  }
  
  textarea {
    &:-ms-input-placeholder, &.form-control:-ms-input-placeholder {
      color: #888;
    }
  }
  
  input {
    &[type="text"]::-webkit-input-placeholder, &[type="email"]::-webkit-input-placeholder, &[type="password"]::-webkit-input-placeholder {
      color: #888;
    }
  }
  
  input[type="checkbox"] {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it
  
    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
    }
  
    // Box.
    & + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 18px;
      height: 18px;
      background: white;
      box-shadow: 0 0 0 2px #AAAAAA;
    }
  
    // Box hover
    &:hover + label:before {
      background: white;
    }
  
    // Box checked
    &:checked + label:before {
      background: white;
      box-shadow: 0 0 0 2px $color-dietafarma;
    }
  
    // Checkmark. Could be replaced with an image
    &:checked + label:after {
      content: '';
      position: absolute;
      left: 4px;
      top: 9px;
      background: $color-dietafarma;
      width: 2px;
      height: 2px;
      box-shadow:
        2px 0 0 $color-dietafarma,
        4px 0 0 $color-dietafarma,
        4px -2px 0 $color-dietafarma,
        4px -4px 0 $color-dietafarma,
        4px -6px 0 $color-dietafarma,
        4px -8px 0 $color-dietafarma;
      transform: rotate(45deg);
    }
  }
  
  input[type="radio"]{
    position: absolute;
    visibility: hidden;
  }
  
  input[type="radio"] ~ span {
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.35em;
    padding: 0 0 0 10px;
    margin: 0px auto;
    height: 30px;
  }
  
  .radio-checked {
    display: block;
    position: absolute;
    border: 3px solid #AAAAAA;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    top: 0px;
    left: 0px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
  }
  
  .radio-checked::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 5px;
    width: 5px;
    top: 3px;
    left: 3px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
  }
  
  input[type="radio"]:checked ~ .radio-checked {
    border: 4px solid $color-dietafarma;
  }
  
  input[type=radio]:checked ~ .radio-checked::before{
    background: $color-dietafarma;
  }
}



