$color-dietafarma: #25a29f;

#dt-register-page {

	&{
		font-size: 10px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
	}

	strong {
  	font-weight: 500;
	}

	a {
	  color: $color-dietafarma;
	  text-decoration: none;
	  -o-transition: all .3s;
	  -moz-transition: all .3s;
	  -webkit-transition: all .3s;
	  -ms-transition: all .3s;
	  transition: all .3s;
	  &:hover, &:focus {
	    color: $color-dietafarma;
	    text-decoration: none;
	    -o-transition: all .3s;
	    -moz-transition: all .3s;
	    -webkit-transition: all .3s;
	    -ms-transition: all .3s;
	    transition: all .3s;
	  }
	}

	h1, h2 {
	  margin-top: 10px;
	  font-size: 38px;
	  font-weight: 100;
	  color: #555;
	  line-height: 50px;
	}

	h3 {
	  font-size: 22px;
	  font-weight: 300;
	  color: #555;
	  line-height: 30px;
	}

	h4 {
	  font-size: 18px;
	  font-weight: 300;
	  color: #555;
	  line-height: 26px;
	}

	img {
	  max-width: 100%;
	}

	::-moz-selection, ::selection {
	  background: $color-dietafarma;
	  color: #fff;
	  text-shadow: none;
	}

	/***** Top menu *****/

	.navbar {
	  padding-top: 10px;
	  background: #333;
	  background: rgba(51, 51, 51, 0.3);
	  border: 0;
	  -o-transition: all .3s;
	  -moz-transition: all .3s;
	  -webkit-transition: all .3s;
	  -ms-transition: all .3s;
	  transition: all .3s;
	  &.navbar-no-bg {
	    background: none;
	  }
	}

	ul.navbar-nav {
	  font-size: 16px;
	  color: #fff;
	}

	.navbar-inverse ul.navbar-nav li {
	  padding-top: 8px;
	  padding-bottom: 8px;
	  .li-text {
	    opacity: 0.8;
	  }
	  a {
	    display: inline;
	    padding: 0;
	    color: #fff;
	    &:hover {
	      color: #fff;
	      opacity: 1;
	      border-bottom: 1px dotted #fff;
	    }
	    &:focus {
	      color: #fff;
	      outline: 0;
	      opacity: 1;
	      border-bottom: 1px dotted #fff;
	    }
	  }
	  .li-social a {
	    margin: 0 5px;
	    font-size: 28px;
	    vertical-align: middle;
	    &:hover, &:focus {
	      border: 0;
	      color: $color-dietafarma;
	    }
	  }
	}

	.navbar-brand {
	  width: 162px;
	  background: url(../img/logo.png) left center no-repeat;
	  text-indent: -99999px;
	}

	/***** Top content *****/

	.top-content {
	  padding: 40px 0 170px 0;
	  .text {
	    color: #fff;
	    h1 {
	      color: #fff;
	    }
	  }
	  .description {
	    margin: 20px 0 10px 0;
	    p {
	      opacity: 0.8;
	    }
	    a {
	      color: #fff;
	      &:hover, &:focus {
	        border-bottom: 1px dotted #fff;
	      }
	    }
	  }
	}

	.form-box {
		opacity: 0.9;
	  padding-top: 40px;
	}

	.register {
	  padding: 25px;
	  background: #fff;
	  -moz-border-radius: 4px;
	  -webkit-border-radius: 4px;
	  border-radius: 4px;
	  h3 {
	    margin-top: 0;
	    margin-bottom: 5px;
	    text-transform: uppercase;
	  }
	}

	.register-steps {
	  overflow: hidden;
	  position: relative;
	  margin-top: 20px;
	}

	.register-progress {
	  position: absolute;
	  top: 24px;
	  left: 0;
	  width: 100%;
	  height: 2px;
	  background: #ddd;
	}

	.register-progress-line {
	  position: absolute;
	  top: 0;
	  left: 0;
	  height: 2px;
	  background: $color-dietafarma;
	}

	.register-step {
	  position: relative;
	  float: left;
	  width: 20%;
	  padding: 0 5px;
	}

	.register-step-icon {
	  display: inline-block;
	  width: 40px;
	  height: 40px;
	  margin-top: 4px;
	  background: #ddd;
	  font-size: 16px;
	  color: #fff;
	  line-height: 40px;
	  -moz-border-radius: 50%;
	  -webkit-border-radius: 50%;
	  border-radius: 50%;
	}

	.register-step {
	  &.completed .register-step-icon {
	    background: #fff;
	    border: 1px solid $color-dietafarma;
	    color: $color-dietafarma;
	    line-height: 38px;
	  }
	  &.active .register-step-icon {
	    width: 48px;
	    height: 48px;
	    margin-top: 0;
	    background: $color-dietafarma;
	    font-size: 22px;
	    line-height: 48px;
	  }
	  p {
	    color: #ccc;
	  }
	  &.completed p, &.active p {
	    color: $color-dietafarma;
	  }
	}

	.register fieldset {
	  display: none;
	  text-align: left;
	}

	.register-buttons {
	  text-align: right;
	}

	.register .input-error {
	  border-color: red;
	}

	input {
  &[type="text"], &[type="email"], &[type="password"] {
    height: 44px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #ddd;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 44px;
    color: #888;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
  }
}

textarea {
  height: 44px;
  margin: 0;
  padding: 0 20px;
  vertical-align: middle;
  background: #fff;
  border: 1px solid #ddd;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 44px;
  color: #888;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
  &.form-control {
    height: 44px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #ddd;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 44px;
    color: #888;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
    height: 90px;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 30px;
  }
  height: 90px;
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 30px;
}

input {
  &[type="text"]:focus, &[type="email"]:focus, &[type="password"]:focus {
    outline: 0;
    background: #fff;
    border: 1px solid #ccc;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

textarea {
  &:focus, &.form-control:focus {
    outline: 0;
    background: #fff;
    border: 1px solid #ccc;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

input {
  &[type="text"]:-moz-placeholder, &[type="email"]:-moz-placeholder, &[type="password"]:-moz-placeholder {
    color: #888;
  }
}

textarea {
  &:-moz-placeholder, &.form-control:-moz-placeholder {
    color: #888;
  }
}

input {
  &[type="text"]:-ms-input-placeholder, &[type="email"]:-ms-input-placeholder, &[type="password"]:-ms-input-placeholder {
    color: #888;
  }
}

textarea {
  &:-ms-input-placeholder, &.form-control:-ms-input-placeholder {
    color: #888;
  }
}

input {
  &[type="text"]::-webkit-input-placeholder, &[type="email"]::-webkit-input-placeholder, &[type="password"]::-webkit-input-placeholder {
    color: #888;
  }
}

textarea {
  &::-webkit-input-placeholder, &.form-control::-webkit-input-placeholder {
    color: #888;
  }
}

label {
  font-weight: 300;
}

button.btn {
  min-width: 105px;
  height: 40px;
  margin: 0;
  padding: 0 20px;
  vertical-align: middle;
  border: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 40px;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
  &:hover {
    opacity: 0.6;
    color: #fff;
  }
  &:active {
    outline: 0;
    opacity: 0.6;
    color: #fff;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  &:focus, &:active:focus, &.active:focus {
    outline: 0;
    opacity: 0.6;
    color: #fff;
  }
  &.btn-next {
    background: $color-dietafarma;
    &:focus, &:active:focus, &.active:focus {
      background: $color-dietafarma;
    }
  }
  &.btn-submit {
    background: $color-dietafarma;
    &:focus, &:active:focus, &.active:focus {
      background: $color-dietafarma;
    }
  }
  &.btn-previous {
    background: #bbb;
    &:focus, &:active:focus, &.active:focus {
      background: #bbb;
    }
  }
}

	/***** Media queries *****/

	@media (min-width: 992px) and (max-width: 1199px) {}

	@media (min-width: 768px) and (max-width: 991px) {}

	@media (max-width: 767px) {
	  .navbar {
	    padding-top: 0;
	    &.navbar-no-bg {
	      background: #333;
	      background: rgba(51, 51, 51, 0.9);
	    }
	  }
	  .navbar-brand {
	    height: 60px;
	    margin-left: 15px;
	  }
	  .navbar-collapse {
	    border: 0;
	  }
	  .navbar-toggle {
	    margin-top: 12px;
	  }
	  .top-content {
	    padding: 40px 0 110px 0;
	  }
	}

	@media (max-width: 415px) {
	  h1, h2 {
	    font-size: 32px;
	  }
	  .register {
	    padding-bottom: 20px;
	  }
	  .register-buttons button {
	    margin-bottom: 5px;
	  }
	}

	/* Retina-ize images/icons */

	@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	  /* logo */
	  .navbar-brand {
	    background-image: url(../img/logo@2x.png) !important;
	    background-repeat: no-repeat !important;
	    background-size: 162px 36px !important;
	  }
	}
}
