{{#wrapper-bg images='backgrounds/login.jpg'}}
  <div class="dt-login-page top-content">
    <div class="inner-bg">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text">
            <h1><strong><a href="/">{{t 'label.dietafarma'}}</a></strong><br>{{t 'label.privateAccess'}}</h1>
          </div>
        </div>
        {{login-form
          authError=error
          onsubmit='authenticate'
          onreset='goToResetPassword'}}
      </div>
    </div>
  </div>

  {{wait-modal id='modal-login' text=(t 'text.accessing')}}

{{/wrapper-bg}}
