{{#wrapper-bg images='backgrounds/login-1.jpg'}}
  <div id="dt-login-page" class="top-content">
    <div class="inner-bg">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text">
            <h1><strong><a href="/">{{t 'label.dietafarma'}}</a></strong> {{t 'label.privateAccess'}}</h1>
          </div>
        </div>
        {{login-form
          authError=error
          onsubmit='authenticate'
          onreset='resetPassword'}}
      </div>
    </div>
  </div>

  {{wait-modal id='modal-login' text=(t 'text.accessing')}}

{{/wrapper-bg}}
