<section class="premium-banner">
  <div class="full-overlay-color">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="col-md-12">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="{{image-path 'logo-dietafarma-basic-white.png'}}" alt="dietafama logo">DietaFarma</a>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="message-info text-center">
          <span>{{fa-icon 'check-circle' size='7x'}}</span>
          <h3>Compra realizada con éxito</h3>
          <div role="group">
            <button type="button" class="btn btn-generic">{{link-to 'Continuar' 'home'}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>