<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
      {{yield}}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default center-block" data-dismiss="modal" {{action 'close'}}>{{buttonText}}</button>
    </div>
  </div>
</div>
