
<div class="container">
  <div class="row">
    <div class="center text-center">
      <img src="../../assets/images/404.png" width="200px">
      <p class="sub-heading">Página no encontrada</p>
      <hr class="hr-style-404">
      <p class="redirect-style-404">Ooops algo no ha ido bien</p>
      <div role="group">
        <button type="button "class="btn btn-info">Ir a Inicio</button>
      </div>
    </div>
  </div>
</div>


