<div class="wrap">
 <div class="logo">
     <p>OOPS! - No existe esa página</p>
     <img src="../../assets/images/404-1.png">
     <div class="sub">
       <p><a href="/">Home</a></p>
     </div>
 </div>
</div>
