<div class="container">
  <div class="row">
    <div class="col-md-7 ">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4></h4></div>
        <div class="panel-body">
          <div class="box box-info">
            <div class="box-body">
              <div class="col-sm-6">
                <div align="center">
                  <img alt="User Pic" src="../../assets/images/default-avatar.png" id="profile-image1" class="img-circle img-responsive">
                </div>
                <div class="col-sm-6">
                  <h4 style="color:#00b1b1;">{{model.name}} {{model.surname}}</h4>
                </div>
                <div class="clearfix"></div>
                <hr style="margin:5px 0 5px 0;">
                <div class="col-sm-5 col-xs-6 tital">Edad</div>
                <div class="col-sm-7 col-xs-6 ">{{model.birthday}}</div>
                <div class="clearfix"></div>
                <div class="bot-border"></div>
                <div class="col-sm-5 col-xs-6 tital ">Fecha de alta</div>
                <div class="col-sm-7">{{model.createdAt}}</div>
                <div class="clearfix"></div>
                <div class="bot-border"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
