<div class="page-header">
  <h1>Mis clientes</h1>
</div>
{{#each model as |client|}}
  <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
    <div class="well profile_view">
      <div class="col-sm-12">
        <div class="left col-xs-7">
          <h2>{{client.name}} {{client.surnname}}</h2>
          <ul class="list-unstyled">
            <li><i class="fa fa-phone"></i>Phone: {{client.phone}}</li>
          </ul>
        </div>
        <div class="right col-xs-5 text-center">
          <img src="../assets/images/default-avatar.png" alt="" class="img-circle img-responsive">
        </div>
      </div>
      <div class="col-xs-12 bottom text-center">
        <div class="col-xs-12 col-sm-6 emphasis">
          <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
            </i> <i class="fa fa-comments-o"></i> </button>
          <button type="button" class="btn btn-primary btn-xs" {{action 'showUserProfile' client.id}}>
            <i class="fa fa-user"></i>Ver Perfil
          </button>
        </div>
      </div>
    </div>
  </div>
{{/each}}
