<label for="{{innerId}}">{{labelText}}</label>
<div class="input-group date">
  {{input
    id=innerId
    type=type
    class='form-control'
    required=required
    value=value}}
  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
</div>
