<div class="page-header">
  <h1>Mensajes</h1>
</div>
<div class="col-md-6 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <ul class="list-unstyled msg_list">
        <li>
          <a>
            <span class="image">
              <img src="../assets/images/default-avatar.png" alt="img">
            </span>
            <span>
              <span>John Smith</span>
              <span class="time">3 mins ago</span>
            </span>
            <span class="message">
              Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that
            </span>
          </a>
        </li>
        <li>
          <a>
            <span class="image">
              <img src="../assets/images/default-avatar.png" alt="img">
            </span>
            <span>
              <span>John Smith</span>
              <span class="time">3 mins ago</span>
            </span>
            <span class="message">
              Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that
            </span>
          </a>
        </li>
        <li>
          <a>
            <span class="image">
              <img src="../assets/images/default-avatar.png" alt="img">
            </span>
            <span>
              <span>John Smith</span>
              <span class="time">3 mins ago</span>
            </span>
            <span class="message">
              Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
